
.blog1, .blog2, .blog3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.blog1-img {
    background-image: url("./blogimg/blog1.jpg");
}
.blog2-img {
    background-image: url("./blogimg/blog2.jpg");
}
.blog3-img {
    background-image: url("./blogimg/blog3.jpg");
}
.blog-imgs {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 400px; 
    
}
.blog-title {
    position: absolute;
    bottom: -25%;
    right: 20%;
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 25px;
    font-weight: bold;
    justify-content: start;
    background-color: rgb(243, 240, 240);
    border-radius: 3px;
    padding: 20px;
    opacity: .95;
    z-index: 10;
}
.fas {
    width: 50px;
}
hr {
    width: 25%;
    margin: 0.8em 0;
}
.title-width {
    width: 70%;
}
.blog-txt {
    margin-top: 130px;
}